<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.operational.platform.dbservice.dao.CrawlJobMapper" >
  <resultMap id="BaseResultMap" type="com.operational.platform.dbservice.model.CrawlJob" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="taskid" property="taskid" jdbcType="VARCHAR" />
    <result column="pointid" property="pointid" jdbcType="INTEGER" />
    <result column="is_list_page_empty" property="isListPageEmpty" jdbcType="BIT" />
    <result column="page_index" property="pageIndex" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.operational.platform.dbservice.model.CrawlJob" extends="BaseResultMap" >
    <result column="list_page" property="listPage" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, taskid, pointid, is_list_page_empty, page_index, update_time, create_time
  </sql>
  <sql id="Blob_Column_List" >
    list_page
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.operational.platform.dbservice.model.CrawlJobExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_crawl_job
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.operational.platform.dbservice.model.CrawlJobExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from t_crawl_job
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_crawl_job
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_crawl_job
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.operational.platform.dbservice.model.CrawlJobExample" >
    delete from t_crawl_job
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.operational.platform.dbservice.model.CrawlJob" >
    insert into t_crawl_job (id, taskid, pointid, 
      is_list_page_empty, page_index, update_time, 
      create_time, list_page)
    values (#{id,jdbcType=INTEGER}, #{taskid,jdbcType=VARCHAR}, #{pointid,jdbcType=INTEGER}, 
      #{isListPageEmpty,jdbcType=BIT}, #{pageIndex,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{createTime,jdbcType=TIMESTAMP}, #{listPage,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.operational.platform.dbservice.model.CrawlJob" >
    insert into t_crawl_job
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="taskid != null" >
        taskid,
      </if>
      <if test="pointid != null" >
        pointid,
      </if>
      <if test="isListPageEmpty != null" >
        is_list_page_empty,
      </if>
      <if test="pageIndex != null" >
        page_index,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="listPage != null" >
        list_page,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="taskid != null" >
        #{taskid,jdbcType=VARCHAR},
      </if>
      <if test="pointid != null" >
        #{pointid,jdbcType=INTEGER},
      </if>
      <if test="isListPageEmpty != null" >
        #{isListPageEmpty,jdbcType=BIT},
      </if>
      <if test="pageIndex != null" >
        #{pageIndex,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="listPage != null" >
        #{listPage,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.operational.platform.dbservice.model.CrawlJobExample" resultType="java.lang.Integer" >
    select count(*) from t_crawl_job
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_crawl_job
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.taskid != null" >
        taskid = #{record.taskid,jdbcType=VARCHAR},
      </if>
      <if test="record.pointid != null" >
        pointid = #{record.pointid,jdbcType=INTEGER},
      </if>
      <if test="record.isListPageEmpty != null" >
        is_list_page_empty = #{record.isListPageEmpty,jdbcType=BIT},
      </if>
      <if test="record.pageIndex != null" >
        page_index = #{record.pageIndex,jdbcType=INTEGER},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.listPage != null" >
        list_page = #{record.listPage,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update t_crawl_job
    set id = #{record.id,jdbcType=INTEGER},
      taskid = #{record.taskid,jdbcType=VARCHAR},
      pointid = #{record.pointid,jdbcType=INTEGER},
      is_list_page_empty = #{record.isListPageEmpty,jdbcType=BIT},
      page_index = #{record.pageIndex,jdbcType=INTEGER},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      list_page = #{record.listPage,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_crawl_job
    set id = #{record.id,jdbcType=INTEGER},
      taskid = #{record.taskid,jdbcType=VARCHAR},
      pointid = #{record.pointid,jdbcType=INTEGER},
      is_list_page_empty = #{record.isListPageEmpty,jdbcType=BIT},
      page_index = #{record.pageIndex,jdbcType=INTEGER},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      create_time = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.operational.platform.dbservice.model.CrawlJob" >
    update t_crawl_job
    <set >
      <if test="taskid != null" >
        taskid = #{taskid,jdbcType=VARCHAR},
      </if>
      <if test="pointid != null" >
        pointid = #{pointid,jdbcType=INTEGER},
      </if>
      <if test="isListPageEmpty != null" >
        is_list_page_empty = #{isListPageEmpty,jdbcType=BIT},
      </if>
      <if test="pageIndex != null" >
        page_index = #{pageIndex,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="listPage != null" >
        list_page = #{listPage,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.operational.platform.dbservice.model.CrawlJob" >
    update t_crawl_job
    set taskid = #{taskid,jdbcType=VARCHAR},
      pointid = #{pointid,jdbcType=INTEGER},
      is_list_page_empty = #{isListPageEmpty,jdbcType=BIT},
      page_index = #{pageIndex,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      list_page = #{listPage,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.operational.platform.dbservice.model.CrawlJob" >
    update t_crawl_job
    set taskid = #{taskid,jdbcType=VARCHAR},
      pointid = #{pointid,jdbcType=INTEGER},
      is_list_page_empty = #{isListPageEmpty,jdbcType=BIT},
      page_index = #{pageIndex,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>